.swiper-normal {
  width: 640px;
  height: 360px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .swiper-main {
    height: 100%;
    position: relative;
    list-style: none;
    padding: 0;

    .swiper-item {
      position: absolute;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .prev{
    z-index: 1;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
  }

  .next{
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
  }
}