.swiper-normal {
  width: 640px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .swiper-main {
    position: relative;
    height: 360px;

    .swiper-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      
      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      &.is-animating {
        transition: transform .4s ease-in-out;
      }
    }
  }

  .prev, .next{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-100%);
    width: 30px;
    cursor: pointer;
  }

  .next{
    right: 15px;
  }

  .prev {
    left: 15px;
  }

  .indicator {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &-item {
      display: inline-block;
      margin: 12px 4px;
      background-color: #ffffff;
      cursor: pointer;
      height: 4px;
      width: 18px;
      opacity: .5;

      &.active {
        opacity: 1;
      }
    }
  }
}